:root {
  --color-white: #fff;
  --color-light-gray: lightgray;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);

}

@keyframes fadeBounce {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body>img {
  height: 85px;
  width: 85px;
  margin: 15px 0 0 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 60px;
}

.about {
  color: var(--color-white);
  height: 300px;
  width: 440px;
  font-weight: 900;
/*   text-transform: capitalize; */
  word-spacing: 1px;
  animation: fadeBounce 1.5s;
  margin-right: 110px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body .container .intro {
 padding: 15px;
}

body .container .intro>div {
  display: block;
  color: #ff0000;
  font-size: 95px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  height: 120px;
  width: 350px;
  text-decoration: none;

  animation: fadeBounce 1s;
}

body .container .intro>div:first-child {
  color: var(--color-white);
}

body .container .intro>div:hover {
  transform: translateX(40px);
  transition: cubic-bezier(.8, .67, .11, .97) .4s;
  color: var(--color-light-gray);
}

.container .links {
  height: 480px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100px;
}

.container .links a {
  height: 50px;
  width: 50px;
  display: flex;
  animation: fadeBounce 1.9s;
  justify-content: center;
  align-items: center;
}

.container .links a svg {
  height: 30px;
  fill: var(--color-white);
  width: 30px;
}

.container .links a svg:hover {
  fill: var(--color-light-gray);
}
